In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
from googletrans import Translator
from pandas import Series
from pandas import DataFrame
%matplotlib inline

In [5]:
item_category_df = pd.read_csv("data/item_categories.csv")
items_df = pd.read_csv("data/items.csv")
shops_df = pd.read_csv("data/shops.csv")
sample_df = pd.read_csv("data/sample_submission.csv")
train_df = pd.read_csv("data/sales_train_v2.csv")
test_df = pd.read_csv("data/test.csv")

# date-> day, month, year

In [6]:
f = lambda x: x.split(".")
train_df['date'] =list(map(f, train_df['date']))

In [7]:
f = lambda x: x[0]
train_df['day'] =list(map(f, train_df['date']))

In [8]:
f = lambda x: x[1]
train_df['month'] =list(map(f, train_df['date']))

In [9]:
f = lambda x: x[2]
train_df['year'] =list(map(f, train_df['date']))

In [10]:
train_df = train_df.drop(['date'],axis=1)

In [11]:
train_df.head()

   date_block_num  shop_id  item_id  item_price  item_cnt_day day month  year
0               0       59    22154      999.00           1.0  02    01  2013
1               0       25     2552      899.00           1.0  03    01  2013
2               0       25     2552      899.00          -1.0  05    01  2013
3               0       25     2554     1709.05           1.0  06    01  2013
4               0       25     2555     1099.00           1.0  15    01  2013

# text

In [12]:
shop_name = np.asarray(shops_df.shop_name)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,4), min_df=0.03, max_df = 0.95)
shop_name_model = vectorizer.fit_transform(shop_name).toarray()

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\sklearn\feature_extraction\text.py:1089: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

In [14]:
shop_X =[]
for i in range(len(shop_name)):
    shop_X.append(shop_name_model[i])

In [15]:
shops_df["shop_name_tfidf"] = shop_X
shops_df.head()

,shop_name,shop_id,shop_name_tfidf
0,"!Якутск Орджоникидзе, 56 фран",0,"[0.38457052634790573, 0.0, 0.0, 0.0, 0.0, 0.0,..."
1,"!Якутск ТЦ ""Центральный"" фран",1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,"Адыгея ТЦ ""Мега""",2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,"Балашиха ТРК ""Октябрь-Киномир""",3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,"Волжский ТЦ ""Волга Молл""",4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [16]:
for i in range(len(shops_df)):
    for j in range(len(shops_df['shop_name_tfidf'][0])):
        shops_df['shop_name_tfidf' + str(j)]= shops_df['shop_name_tfidf'][i][j]

In [17]:
shops_df

,shop_name,shop_id,shop_name_tfidf,shop_name_tfidf0,shop_name_tfidf1,shop_name_tfidf2,shop_name_tfidf3,shop_name_tfidf4,shop_name_tfidf5,shop_name_tfidf6,...,shop_name_tfidf58,shop_name_tfidf59,shop_name_tfidf60,shop_name_tfidf61,shop_name_tfidf62,shop_name_tfidf63,shop_name_tfidf64,shop_name_tfidf65,shop_name_tfidf66,shop_name_tfidf67
0,"!Якутск Орджоникидзе, 56 фран",0,"[0.38457052634790573, 0.0, 0.0, 0.0, 0.0, 0.0,...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"!Якутск ТЦ ""Центральный"" фран",1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Адыгея ТЦ ""Мега""",2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Балашиха ТРК ""Октябрь-Киномир""",3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Волжский ТЦ ""Волга Молл""",4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,"Вологда ТРЦ ""Мармелад""",5,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,"Воронеж (Плехановская, 13)",6,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,"Воронеж ТРЦ ""Максимир""",7,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.6134252554119065, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,"Воронеж ТРЦ Сити-Парк ""Град""",8,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.4481823655733536, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Выездная Торговля,9,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Жуковский ул. Чкалова 39м?,10,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.408...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Жуковский ул. Чкалова 39м²,11,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.408...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Интернет-магазин ЧС,12,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,"Казань ТЦ ""Бехетле""",13,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,"Казань ТЦ ""ПаркХаус"" II",14,"[0.0, 0.4130638703563092, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,"Калуга ТРЦ ""XXI век""",15,"[0.0, 0.0, 0.0, 0.0, 0.836724485075977, 0.0, 0...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,"Коломна ТЦ ""Рио""",16,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,"Красноярск ТЦ ""Взлетка Плаза""",17,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,"Красноярск ТЦ ""Июнь""",18,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,"Курск ТЦ ""Пушкинский""",19,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,"Москва ""Распродажа""",20,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,"Москва МТРЦ ""Афи Молл""",21,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,Москва Магазин С21,22,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,"Москва ТК ""Буденовский"" (пав.А2)",23,"[0.0, 0.0, 0.3321568598511655, 0.3321568598511...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,"Москва ТК ""Буденовский"" (пав.К7)",24,"[0.0, 0.0, 0.3321568598511655, 0.3321568598511...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,"Москва ТРК ""Атриум""",25,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,"Москва ТЦ ""Ареал"" (Беляево)",26,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,"Москва ТЦ ""МЕГА Белая Дача II""",27,"[0.0, 0.45608813094431955, 0.0, 0.0, 0.0, 0.0,...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,"Москва ТЦ ""МЕГА Теплый Стан"" II",28,"[0.0, 0.45608813094431955, 0.0, 0.0, 0.0, 0.0,...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,"Москва ТЦ ""Новый век"" (Новокосино)",29,"[0.0, 0.0, 0.0, 0.0, 0.6837097165695274, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,"Москва ТЦ ""Перловский""",30,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,"Москва ТЦ ""Семеновский""",31,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,"Москва ТЦ ""Серебряный Дом""",32,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,"Мытищи ТРК ""XL-3""",33,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,"Н.Новгород ТРЦ ""РИО""",34,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,"Н.Новгород ТРЦ ""Фантастика""",35,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,"Новосибирск ТРЦ ""Галерея Новосибирск""",36,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,"Новосибирск ТЦ ""Мега""",37,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,"Омск ТЦ ""Мега""",38,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,"РостовНаДону ТРК ""Мегацентр Горизонт""",39,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.32365900...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,"РостовНаДону ТРК ""Мегацентр Горизонт"" Островной",40,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.32365900...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,"РостовНаДону ТЦ ""Мега""",41,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,"СПб ТК ""Невский Центр""",42,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,"СПб ТК ""Сенная""",43,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,"Самара ТЦ ""Мелодия""",44,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,"Самара ТЦ ""ПаркХаус""",45,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,"Сергиев Посад ТЦ ""7Я""",46,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,"Сургут ТРЦ ""Сити Молл""",47,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,"Томск ТРЦ ""Изумрудный Город""",48,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,"Тюмень ТРЦ ""Кристалл""",49,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,"Тюмень ТЦ ""Гудвин""",50,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,"Тюмень ТЦ ""Зеленый Берег""",51,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,"Уфа ТК ""Центральный""",52,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,"Уфа ТЦ ""Семья"" 2",53,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,"Химки ТЦ ""Мега""",54,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,Цифровой склад 1С-Онлайн,55,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,"Чехов ТРЦ ""Карнавал""",56,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,"Якутск Орджоникидзе, 56",57,"[0.416609635057569, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,"Якутск ТЦ ""Центральный""",58,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,"Ярославль ТЦ ""Альтаир""",59,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
shops_df = shops_df.drop(['shop_name_tfidf'],axis=1)
# shops_df.head()

In [19]:
item_category_name = np.asarray(item_category_df.item_category_name)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,4), min_df=0.03, max_df = 0.95)
item_category_name_model = vectorizer.fit_transform(item_category_name).toarray()

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\sklearn\feature_extraction\text.py:1089: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

In [21]:
item_category_X =[]
for i in range(len(item_category_name)):
    item_category_X.append(item_category_name_model[i])

In [22]:
item_category_df["item_category_tfidf"] = item_category_X
# item_category_df.head()

In [23]:
for i in range(len(item_category_df)):
    for j in range(len(item_category_df['item_category_tfidf'][0])):
        item_category_df['item_category_tfidf' + str(j)]= item_category_df['item_category_tfidf'][i][j]

In [24]:
item_category_df = item_category_df.drop(['item_category_tfidf'],axis=1)
item_category_df.head()

,item_category_name,item_category_id,item_category_tfidf0,item_category_tfidf1,item_category_tfidf2,item_category_tfidf3,item_category_tfidf4,item_category_tfidf5,item_category_tfidf6,item_category_tfidf7,...,item_category_tfidf27,item_category_tfidf28,item_category_tfidf29,item_category_tfidf30,item_category_tfidf31,item_category_tfidf32,item_category_tfidf33,item_category_tfidf34,item_category_tfidf35,item_category_tfidf36
0,PC - Гарнитуры/Наушники,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Аксессуары - PS2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Аксессуары - PS3,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Аксессуары - PS4,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Аксессуары - PSP,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
# items_df.head()

In [26]:
item_name = np.asarray(items_df.item_name)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,4), min_df=0.03, max_df = 0.95)
rus_item_name_model = vectorizer.fit_transform(item_name).toarray()

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\sklearn\feature_extraction\text.py:1089: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

In [28]:
item_X =[]
for i in range(len(item_name)):
    item_X.append(rus_item_name_model[i])

In [29]:
items_df["item_tfidf"] = item_X
# items_df.head()

In [30]:
for i in range(len(items_df)):
    for j in range(len(items_df['item_tfidf'][0])):
        items_df['item_tfidf' + str(j)]= items_df['item_tfidf'][i][j]

In [31]:
items_df = items_df.drop(['item_tfidf'],axis=1)
# items_df.head()

# merge

In [32]:
df =pd.merge(train_df, shops_df, on='shop_id')
# df.head()

In [33]:
df =pd.merge(df, items_df, on='item_id')
# df.head()

In [34]:
df =pd.merge(df, item_category_df, on='item_category_id')
# df.head()

In [35]:
df.head()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year,shop_name,shop_name_tfidf0,...,item_category_tfidf27,item_category_tfidf28,item_category_tfidf29,item_category_tfidf30,item_category_tfidf31,item_category_tfidf32,item_category_tfidf33,item_category_tfidf34,item_category_tfidf35,item_category_tfidf36
0,0,59,22154,999.0,1.0,02,01,2013,"Ярославль ТЦ ""Альтаир""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,25,22154,999.0,1.0,02,01,2013,"Москва ТРК ""Атриум""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,25,22154,999.0,1.0,03,01,2013,"Москва ТРК ""Атриум""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,25,22154,999.0,1.0,20,01,2013,"Москва ТРК ""Атриум""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,25,22154,999.0,1.0,23,01,2013,"Москва ТРК ""Атриум""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
df = df.drop(['item_name'],axis=1)
df = df.drop(['item_category_name'],axis=1)

In [37]:
df = df.drop(['day'],axis=1)
df = df.drop(['year'],axis=1)

In [38]:
df.head()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,month,shop_name,shop_name_tfidf0,shop_name_tfidf1,shop_name_tfidf2,...,item_category_tfidf27,item_category_tfidf28,item_category_tfidf29,item_category_tfidf30,item_category_tfidf31,item_category_tfidf32,item_category_tfidf33,item_category_tfidf34,item_category_tfidf35,item_category_tfidf36
0,0,59,22154,999.0,1.0,01,"Ярославль ТЦ ""Альтаир""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# location

In [39]:
loc_shop = df["shop_name"]
len(loc_shop)

2935849

In [40]:
loc = []
for i in loc_shop:
    splited_loc = i.split()
    loc.append(splited_loc[0])

In [41]:
df['location'] = loc

In [42]:
west= ['Adygea','Balashikha', 'Chekhov','Kaluga','Kazan', 'Krasnoyarsk' ,'Kursk', 'Moscow' ,'Yaroslavl',
        'Mytischi', 'N.Novgorod', 'Nizhny','RostovNaDon',  'RostovNaDonu', 'Samara' ,'SPb' ,'Sergiev', 
        'Surgut', 'Tyumen', 'Ufa', 'Vologda', 'Volzhsky', 'Voronezh' , 'Zhukovsky','Colosseum', 'Khimki']
east =  ['Yakutsk']
south =  ['Novosibirsk','Omsk', 'Tomsk']

In [43]:
s1 = Series(data = 'west', index= west)
west = s1.to_dict()

s2 = Series(data = 'east'
   , index= east)
east = s2.to_dict()

s3 = Series(data = 'south'
   , index= south)
south = s3.to_dict()

In [44]:
df["location"].replace(to_replace=west.keys(), value=west.values(), inplace=True)
df["location"].replace(to_replace=east.keys(), value=east.values(), inplace=True)
df["location"].replace(to_replace=south.keys(), value=south.values(), inplace=True)
df.head()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,month,shop_name,shop_name_tfidf0,shop_name_tfidf1,shop_name_tfidf2,...,item_category_tfidf28,item_category_tfidf29,item_category_tfidf30,item_category_tfidf31,item_category_tfidf32,item_category_tfidf33,item_category_tfidf34,item_category_tfidf35,item_category_tfidf36,location
0,0,59,22154,999.0,1.0,01,"Ярославль ТЦ ""Альтаир""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Ярославль
1,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Москва
2,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Москва
3,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Москва
4,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Москва

In [45]:
dummy_loc_df =pd.get_dummies(df['location'])
# dummy_loc_df.head()

In [46]:
df = pd.concat([df, dummy_loc_df],axis=1)
df = df.drop(['location'],axis=1)
df.head()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,month,shop_name,shop_name_tfidf0,shop_name_tfidf1,shop_name_tfidf2,...,Сергиев,Сургут,Томск,Тюмень,Уфа,Химки,Цифровой,Чехов,Якутск,Ярославль
0,0,59,22154,999.0,1.0,01,"Ярославль ТЦ ""Альтаир""",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0,25,22154,999.0,1.0,01,"Москва ТРК ""Атриум""",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
# df = df.drop(['item_name'],axis=1)
# df = df.drop(['item_category_name'],axis=1)
df = df.drop(['shop_name'],axis=1)

In [43]:
df.head()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,month,shop_name_tfidf0,shop_name_tfidf1,shop_name_tfidf2,shop_name_tfidf3,...,Сергиев,Сургут,Томск,Тюмень,Уфа,Химки,Цифровой,Чехов,Якутск,Ярославль
0,0,59,22154,999.0,1.0,01,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1,0,25,22154,999.0,1.0,01,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0,25,22154,999.0,1.0,01,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0,25,22154,999.0,1.0,01,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0,25,22154,999.0,1.0,01,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
df = df.drop(['item_price'],axis=1)

In [45]:
df.head()

,date_block_num,shop_id,item_id,item_cnt_day,month,shop_name_tfidf0,shop_name_tfidf1,shop_name_tfidf2,shop_name_tfidf3,shop_name_tfidf4,...,Сергиев,Сургут,Томск,Тюмень,Уфа,Химки,Цифровой,Чехов,Якутск,Ярославль
0,0,59,22154,1.0,01,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1,0,25,22154,1.0,01,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0,25,22154,1.0,01,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0,25,22154,1.0,01,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0,25,22154,1.0,01,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

# test

In [68]:
test_df = pd.read_csv("data/test.csv")

In [69]:
test_df.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [70]:
test_df['month']=11
test_df['date_block_num']=34

In [71]:
test_df.head()

   ID  shop_id  item_id  month  date_block_num
0   0        5     5037     11              34
1   1        5     5320     11              34
2   2        5     5233     11              34
3   3        5     5232     11              34
4   4        5     5268     11              34

In [64]:
shops_df = shops_df.drop(['shop_name'],axis=1)
shops_df.head()

,shop_id,shop_name_tfidf0,shop_name_tfidf1,shop_name_tfidf2,shop_name_tfidf3,shop_name_tfidf4,shop_name_tfidf5,shop_name_tfidf6,shop_name_tfidf7,shop_name_tfidf8,...,shop_name_tfidf58,shop_name_tfidf59,shop_name_tfidf60,shop_name_tfidf61,shop_name_tfidf62,shop_name_tfidf63,shop_name_tfidf64,shop_name_tfidf65,shop_name_tfidf66,shop_name_tfidf67
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
item_category_df = item_category_df.drop(['item_category_name'],axis=1)
item_category_df.head()

,item_category_id,item_category_tfidf0,item_category_tfidf1,item_category_tfidf2,item_category_tfidf3,item_category_tfidf4,item_category_tfidf5,item_category_tfidf6,item_category_tfidf7,item_category_tfidf8,...,item_category_tfidf27,item_category_tfidf28,item_category_tfidf29,item_category_tfidf30,item_category_tfidf31,item_category_tfidf32,item_category_tfidf33,item_category_tfidf34,item_category_tfidf35,item_category_tfidf36
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [73]:
test_df =pd.merge(test_df, shops_df,on='shop_id')
test_df.head()

,ID,shop_id,item_id,month,date_block_num,shop_name_tfidf0,shop_name_tfidf1,shop_name_tfidf2,shop_name_tfidf3,shop_name_tfidf4,...,shop_name_tfidf58,shop_name_tfidf59,shop_name_tfidf60,shop_name_tfidf61,shop_name_tfidf62,shop_name_tfidf63,shop_name_tfidf64,shop_name_tfidf65,shop_name_tfidf66,shop_name_tfidf67
0,0,5,5037,11,34,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,5,5320,11,34,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,5,5233,11,34,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,5,5232,11,34,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,5,5268,11,34,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [77]:
items_df.head()

,item_name,item_id,item_category_id,item_tfidf0,item_tfidf1,item_tfidf2,item_tfidf3,item_tfidf4,item_tfidf5,item_tfidf6,...,item_tfidf13,item_tfidf14,item_tfidf15,item_tfidf16,item_tfidf17,item_tfidf18,item_tfidf19,item_tfidf20,item_tfidf21,item_tfidf22
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,!ABBYY FineReader 12 Professional Edition Full...,1,76,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,***КОРОБКА (СТЕКЛО) D,4,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
items_df = items_df.drop(['item_tfidf'],axis=1)
# items_df.head()

In [76]:
test_df =pd.merge(test_df, item_category_df,on='item_category_id')
test_df.head()

KeyError: 'item_category_id'

## model

In [45]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [53]:
y_data = df.item_cnt_day.reshape(df.item_cnt_day.size,1)

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [54]:
df = df.drop(['item_cnt_day'],axis=1)

In [55]:
y_data.shape

(2935849, 1)

In [56]:
x_data = df.values

In [57]:
# Split the data into training/testing sets
diabetes_X_train = x_data[:-20]
diabetes_X_test = x_data[-20:]

In [58]:
# Split the targets into training/testing sets
diabetes_y_train = test[-20:]
diabetes_y_test = test[-20:]

In [64]:
diabetes_X_train.shape

(2935829, 165)

In [63]:
diabetes_y_train.shape

(20, 1)

In [60]:
# Create linear regression object
regr = linear_model.LinearRegression()

In [61]:
# Train the model using the training sets
regr.fit(diabetes_X_train, diabetes_y_train)

ValueError: Found input variables with inconsistent numbers of samples: [2935829, 20]

In [59]:
# Make predictions using the testing set
diabetes_y_pred = regr.predict(diabetes_X_test)

ValueError: Found input variables with inconsistent numbers of samples: [2935829, 20]

In [62]:
# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(diabetes_y_test, diabetes_y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(diabetes_y_test, diabetes_y_pred))

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [48]:
from sklearn import preprocessing
min_max_scaler_y = preprocessing.MinMaxScaler()
y_data = min_max_scaler_y.fit_transform(y_data)

In [49]:
from sklearn import preprocessing

minmax_scale = preprocessing.MinMaxScaler(feature_range=(0,5)).fit(x_data)
x_scaled_data = minmax_scale.transform(x_data)

# x_scaled_data[:3]

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [50]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x_scaled_data, y_data, test_size=0.33)

In [51]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1967018, 165), (968831, 165), (1967018, 1), (968831, 1))

In [52]:
from sklearn import  linear_model

regr = linear_model.LinearRegression(n_jobs=1)
regr.fit(X_train, y_train)
regr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [53]:
print('Coefficients: ', regr.coef_) # w1
print('intercept: ', regr.intercept_) #w0

Coefficients:  [[ 1.60384048e-06  1.43993871e-05  1.18319795e-05  1.12717625e-05
  -6.27770747e+05 -2.30570803e+06 -6.61564850e+05  9.64514739e+04
   7.05499015e+05  3.31421776e+05 -4.70562159e+05 -2.10222708e+06
   4.47718682e+05  7.84682817e+05  5.84589633e+05  1.16724413e+05
  -2.60429862e+05 -2.54179351e+05 -1.97725749e+04  1.13391597e+05
   3.44304398e+04 -8.44239448e+04  4.68610006e+04  6.92442601e+03
   1.90363339e+03 -1.58291879e+03  4.18675277e+01 -3.31311769e+02
   7.52607082e+01  1.79566243e+01  3.45271514e+00 -8.44187326e-01
  -2.52921254e-02 -8.10550268e-04 -1.03206092e-04 -6.93096081e-06
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   9.74244904e-06  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00 -4.81286570e+06 -4.81286570e+06 -4.81286570e+06
  -4.81286570e+06 -4.81286570e+06 -4.81286570e+06 -4.81286570e+06
  -4.81286570e+06 -4.81286570e+06 -4.81286570e+06 -4.81286570e+06
  -4.81286570e+06 -4.81286570e+06 -4.81286570e+06 -4.81286570e+06
  -4.81286570e+06 -4.81286570e+06 -4.81286570e+06 -4.81286570e+06
  -4.81286570e+06 -4.81286570e+06 -4.81286570e+06 -4.81286570e+06
  -4.81286570e+06 -4.81286570e+06 -4.81286570e+06 -4.81286570e+06
  -4.81286570e+06 -4.81286570e+06 -4.81286570e+06 -4.81286570e+06
  -4.81286570e+06]]
intercept:  [24064328.51706445]

In [54]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [55]:
y_true = y_test
y_hat = regr.predict(X_test)

r2_score(y_true, y_hat), mean_absolute_error(y_true, y_hat), mean_squared_error(y_true, y_hat)
# r2_score : 1에 가까우면 좋음

(0.0036363153495813094, 0.00020054838101758566, 2.0440374585223084e-06)

In [56]:
y_true = y_train
y_hat = regr.predict(X_train)

r2_score(y_true, y_hat), mean_absolute_error(y_true, y_hat), mean_squared_error(y_true, y_hat)

(0.00578064846669879, 0.0001996759685288688, 1.1154147804384613e-06)